html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url("../img/geometry2.png"); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Wendy One", sans-serif;
    color: #3d7eaa;
    font-size: 3em;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #3d7eaa 0%, #ffe47a 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    transition: 0.5s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: scale;
    animation-duration: 1s;
}

.deck .card.show.open.no-match {
    cursor: default;
    background: red;
    font-size: 33px;
    animation-name: spin;
    animation-duration: 2s;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    display: inline-flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;
}

.score-panel .stars,
.score-panel .restart,
.score-panel .moves,
.score-panel .stop-watch {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
.score-panel .stars {
    color: #3d7eaa;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .stop-watch {
    width: 160px;
}

.score-panel .stop-watch .min-sec {
    width: 80px;
}
/*
 * Styles for the Modal
 */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 90%;
    background: #ffffff url(../img/index.gif);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal button {
    width: 150px;
    font-size: 20px;
    background: #02ccba;
    color: white;
    padding: 0.3em;
    font-weight: 250;
    cursor: pointer;
}

.modal.open {
    display: flex;
}
/* Extra small devices */
@media only screen and (max-width: 444px) {
    .deck {
        width: 100%;
        height: 500px;
        padding: 10px;
    }
    .deck .card {
        height: 90px;
        width: 85px;
    }
    .score-panel {
        width: 85%;
    }
    .score-panel .moves,
    .score-panel .stars,
    .score-panel .stop-watch {
        font-size: 1.1em;
    }
    .deck .card.show,
    .deck .card.match,
    .deck .card.show.open.no-match {
        font-size: 25px;
    }
    .modal {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 445px) and (max-width: 680px) {
    .deck {
        width: 100%;
        height: 585px;
        padding: 15px;
    }
    .deck .card {
        height: 95px;
        width: 90px;
    }
    .score-panel {
        width: 85%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 560px) {
    .deck {
        width: 480px;
        padding: 17px;
    }
}

@media only screen and (min-width: 560px) and (max-width: 680px) {
    .deck {
        width: 500px;
        padding: 29px;
    }
    .score-panel {
        width: 400px;
    }
}
@keyframes scale {
    0,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes spin {
    25% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(-25deg);
    }
}
