html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url("../img/geometry2.png"); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    transition: 0.5s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: scale;
    animation-duration: 1s;
}

.deck .card.show.open.no-match {
    cursor: default;
    background: red;
    font-size: 33px;
    animation-name: spin;
    animation-duration: 2s;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    display: inline-flex;
    justify-content: space-between;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 4%;
    left: 22%;
    /* transform: translate(-50%, -50%); */
    width: 56%;
    height: 43%;
    background: #ffffff url(../img/index.gif);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal button {
    width: 150px;
    font-size: 20px;
    background: #02ccba;
    color: white;
    padding: 0.3em;
    font-weight: 250;
    cursor: pointer;
}

.modal.open {
    display: flex;
}

@keyframes scale {
    0,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes spin {
    25% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(-25deg);
    }
}
